@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
            <div class="row height d-flex justify-content-center align-items-center">
              <div class="col-md-6">
              <h1 class="text-center">Music</h1>
                <form asp-action="find-chord" class="form">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-input" placeholder="Ingres the chord name">
                  <span class="left-pan"><i class="fa fa-music"></i></span>
                </form>
              </div>
              
            </div>

            <style>
                body{
                    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
                }
            </style>
</div>
